$primary-color: #4d84f4;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$orange-color: #fd7e14;
$indigo-color: #6610f2;

$font-black: #2e2e31;
$font-black-50: rgba(0, 0, 0, 0.5);
$border-color: #d1d0d2;
